#Jetbrains
.idea/

#scripts/

#Wordpress
*.log
#.htaccess
#wp-config.php

wp-content/upgrade/
#wp-content/uploads/
wp-content/updraft/pclzip*
wp-content/updraft/*log
wp-content/updraft/*zip.tmp
wp-content/uploads/ubermenu_backups/
wp-content/plugins/hello.php

/readme.html
/license.txt

#Subversion
.svn/

#vim temp files
*.swp
*.swo

#zips
*.zip

#configs
