@media (max-width: 780px) {
  .so-widget-sow-button-atom-b65a5a7de3a1 .ow-button-base.ow-button-align-center {
    text-align: center;
  }
  .so-widget-sow-button-atom-b65a5a7de3a1 .ow-button-base.ow-button-align-center.ow-button-align-justify a {
    display: inline-block;
  }
}
.so-widget-sow-button-atom-b65a5a7de3a1 .ow-button-base a {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
  font-size: 1em;
  padding: 1em 2em;
  background: #54d4d8;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2ec6cb), color-stop(1, #54d4d8));
  background: -ms-linear-gradient(bottom, #2ec6cb, #54d4d8);
  background: -moz-linear-gradient(center bottom, #2ec6cb 0%, #54d4d8 100%);
  background: -o-linear-gradient(#54d4d8, #2ec6cb);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54d4d8', endColorstr='#2ec6cb', GradientType=0);
  border: 1px solid;
  border-color: #2bbabe #2ab2b6 #27a6aa #2ab2b6;
  color: #ffffff !important;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.so-widget-sow-button-atom-b65a5a7de3a1 .ow-button-base a:active,
.so-widget-sow-button-atom-b65a5a7de3a1 .ow-button-base a:hover {
  color: #ffffff !important;
}
.so-widget-sow-button-atom-b65a5a7de3a1 .ow-button-base a.ow-button-hover:hover {
  background: #5cd6da;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #33ccd0), color-stop(1, #5cd6da));
  background: -ms-linear-gradient(bottom, #33ccd0, #5cd6da);
  background: -moz-linear-gradient(center bottom, #33ccd0 0%, #5cd6da 100%);
  background: -o-linear-gradient(#5cd6da, #33ccd0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cd6da', endColorstr='#33ccd0', GradientType=0);
  border-color: #65d8dc #5cd6da #50d3d7 #5cd6da;
}