@font-face {
	font-family: 'Avenue';
	src: url('Avenue-Book.eot?') format('eot'),
		 url('Avenue-Book.woff') format('woff'),
		 url('Avenue-Book.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}